
<div id="top-banner">

  <div class="popi"></div>

</div>

<div id="content1">
  <div id="gallery">
    <div class="slider-container">
      <div class="slider-wrapper">
        <div id="slider">
          <%= image_tag "1.jpg"%>
          <%= image_tag "2.jpg"%>
          <%= image_tag "3.jpg"%>
          <%= image_tag "4.jpg"%>
          <%= image_tag "5.jpg"%>
        </div>
        <div id="slider-direction-nav"></div>
        <div id="slider-control-nav"></div>
      </div>
    </div>
  </div>
</div>


<div id="mail-list">

</div>

<div id="box-center">



    <div id='yelpwidget'></div>
    <div id="yelp-logo"></div>



</div>

<div id="box-right-top">
</div> <div id="box-right-center">
</div> <div id="box-right-bottom">
</div>


      <script>
        $(document).ready(function() {



        /* poopin up */
        $("#mail-list").on("click",function() {

        $.get('/newsletter', function(data) {

        $('.popi').html(data);
        $('.popi').fadeIn();
        $( '.popi' ).css( "width", "50%" );
        $('.popi').css("height", "50%")      ;
        });



        });
        /* Yelp */
        (function() {
        var s = document.createElement("script");
        s.async = true;
        s.onload = s.onreadystatechange = function()
        {getYelpWidget("trendy-sunglasses-santa-monica","223","RED","y","y","0");};
        s.src='http://chrisawren.com/widgets/yelp/yelpv2.js' ;
        var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})

        ();



        /*Slider*/

        var slider = $('#slider').leanSlider({
        directionNav: '#slider-direction-nav',
        controlNav: '#slider-control-nav'
        });

        $('.top-ad').slidesjs({
        width: 400,
        height: 100,
        play: {
        effect: "fade",

        auto: true,
        interval: 4000,
        swap: true
        }
        }) ;


        $(function() {
        var pull 		= $('#pull');
        menu 		= $('nav ul');
        menuHeight	= menu.height();

        $(pull).on('click', function(e) {
        e.preventDefault();
        menu.slideToggle();
        });
        });


        });
      </script>






