<div id="terms-wrapper">
  <div id="terms-paragraph">
    <div id="terms" class="Sabout">ABOUT US</div>
   <%= @record.saboutus %>
    <div id="terms" class="Stos">TERMS OF SERVICE</div>

    <h5>Payment</h5>
    <%= @record.payment %>

    <br><br>
    <h5>Shipping Policies</h5>
    <%= @record.shippingp %>

    <div id="terms" class="Spolicy">PURCHASE POLICY</div>
    <h5>Returns and Exchanges</h5>
    <%= @record.returnE %>


    <br><br>
    <h5>Cancellation</h5>
    <%= @record.canccelation %>

    <br><br>
    <h5>Complaints</h5>
    <%= @record.complaints %>


    <div id="terms" class="Scontant">CONTACT</div>
    <h5>Mail:</h5>
    <%= @record.iaddress %>
    <br><br>
    <h5>Phone:</h5>
    <%= @record.iphone %>
    <br><br>
    <h5>Email:</h5>
    <%= @record.imail %>    <br><br>

  </div>
</div>
