
<div id="footer">
  <div id="footer-text">
    <ul>
      <li><%= link_to "LOCATION", location_path %></li>
      <li>|</li>
      <li><%= link_to "CONTACT", location_path %></li>
      <li>|</li>
      <li><%= link_to "TERMS OF SERVICE", root_path %></li>
      <li>|</li>
      <li><%= link_to "RETURNS AND EXCHANGES", root_path %></li>
      <li>|</li>
      <li><%= link_to "ABOUT US", about_path %></li>
    </ul>
  </div>
</div>