
<div id="footer">
    <ul>
      <li><%= link_to "LOCATION", location_path %></li>
      <li>|</li>
      <li><%= link_to "CONTACT", terms_path+"?1" %></li>
      <li>|</li>
      <li><%= link_to "TERMS OF SERVICE", terms_path+"?3" %></li>
      <li>|</li>
      <li><%= link_to "RETURNS AND EXCHANGES", terms_path+"?2" %></li>
      <li>|</li>
      <li><%= link_to "ABOUT US", terms_path+"?4" %></li>
    </ul>

  <div id="extra-contact">Trendy Sunglasses <br> (310)123-1234 <br> 1234 Main St. <br> Santa Monica, CA <br> 90405</div>
</div>

<%= javascript_tag do %>
<% end %>