<div class="popi"></div>

<div id="iconposition">
  <a href="https://www.facebook.com/trendysm" target="_blank"><div id="socialicon"><%= image_tag"facebook.png" %></div></a>
  <a href="https://www.instagram.com/" target="_blank"><div id="socialicon"><%= image_tag"instagram.png" %></div></a>
  <a href="https://twitter.com/trendy_sunglass" target="_blank"><div id="socialicon"><%= image_tag"twitter.png" %></div></a>
</div>

<header>
  <a href="/"><div id ="logo"></div></a>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
</header>

<nav class="clearfix">
  <ul class="clearfix">
    <li><%= link_to "HOME", root_path %></li>
    <li><%= link_to "BRANDS", brands_path %></li>
    <li><%= link_to "ABOUT" , about_path %></li>
    <li><%= link_to "LOCATION", location_path %></li>
  </ul>

  <a href="#" id="pull">MENU</a>
</nav>



