<!DOCTYPE html>
<html>
<head>
  <title>Glass</title>

  <%= csrf_meta_tags %>
  <%= render "layouts/styles"%>
</head>
<body >


<div id="wrapper">

    <%= render "layouts/header"%>
    <%= yield %>
  <div id="popi"></div>
    <%= render "layouts/footer"%>


</div>

</body>
</html>
